<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Hjälpmedelskollen</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hjalpmedelskollen.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/74e6607f1f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-content">
                <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/css/Logotype.jpg" alt="Logotyp"/>
                    Hjälpmedelskollen
                </a>
                <div class="nav-list-container">
                    <ul class="nav-list">
                        <li>
                            <a asp-area="" asp-controller="" asp-action="">
                                Sök
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="" asp-action="">
                                Dokument
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="" asp-action="">
                                Statistik
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="" asp-action="">
                                <i class="fa-solid fa-gear"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hamburger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>
    <div id="hamburger-menu-content" class="nav-list-container">
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            &copy; 2024
            <a asp-area="" asp-controller="About" asp-action="Index">
                Hjälpmedelskollen
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
