<div id="new-category-popup" class="popup-container">
	<div class="pop-up">
		<div class="close-button-container">
			<i class="fa-solid fa-square-xmark close-popup-button" data-popup-id="new-category-popup"></i>
		</div>
		<h3>Lägg till ny kategori</h3>
		<div class="add-form">
			<label for="new-category"></label>
			<input type="text" id="new-category" name="newCategory" required>
		</div>
		<div class="popup-buttons">
			<button type="submit" id="add-category-button">Lägg till</button>
			<button type="button" id="cancel-add-category">Avbryt</button>
		</div>
	</div>
</div>