
<div id="qr-popup" class="popup-container">
    <div class="pop-up">
        <div class="close-button-container">
            <i class="fa-solid fa-square-xmark close-popup-button" data-popup-id="qr-popup"></i>
        </div>
        <b id="qr-headline">Skanna QR-kod</b>
        <div class="qr-section">
            <div id="my-qr-reader">
            </div>
        </div>
        <button id="cancel-qr-button">Avbryt</button>
    </div>
</div>

<div id="qr-missing-popup" class="popup-container">
    <div class="pop-up">
        <div class="close-button-container">
            <i class="fa-solid fa-square-xmark close-popup-button" data-popup-id="qr-missing-popup"></i>
        </div>
        <h3>Hjälpmedel saknas</h3>
        <div>
            <p id="qr-missing-text"></p>
        </div>
        <div class="popup-buttons">
            <button type="button" id="add-qr-aid" data-selected-unit="@Model.SelectedUnit.Id">Ja</button>
            <button type="button" id="cancel-qr-aid">Avbryt</button>
        </div>
    </div>
</div>