@model Hjalpmedelskollen.ViewModels.SearchViewModel

@{
	ViewData["Title"] = "Sök";
}

@section Scripts {
	<script src="~/js/search.js"></script>
}

<div id="search-view">
	<div id="search-container">
		<h3>Sök efter hjälpmedel</h3>
			<label for="searchInput"><input type="text" id="search-input" name="searchInput"/></label>
			<div id="search-selections">
				<div>
					<p>Sök baserat på:</p>
					<div id="search-type" class="search-form">
							<label for="searchId"><input type="radio" id="searchId" name="searchType" value="id">Registreringsnummer</label>
							<label for="searchProductName"><input type="radio" id="searchProductName" name="searchType" value="productName">Produktnamn</label>
							<label for="searchCategory"><input type="radio" id="searchCategory" name="searchType" value="category">Kategori</label>
					</div>
				</div>
				<div>
					<p>Enhet:</p>
					<div id="search-unit" class="search-form">
						@foreach (var unit in Model.Units)
						{
							<label for="unit">
								<input type="checkbox" id="unitId@(unit.Id)" name="unit" value="@unit.Id">
								@unit.Name
							</label>
						}
					</div>
				</div>
			</div>
			<button id="search-button">Sök</button>
	</div>
	<div id="search-result">
		<h3>Sökresultat:</h3>
		<i id="result-text"></i>
		<table class="table-style">
			<thead>
				<tr>
					<th>Registreringsnummer</th>
					<th>Produktnamn</th>
					<th>Kategori</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>