@{
	ViewData["Title"] = "Dokument";
}

<div id="document-container">
	<div id="document-aside">
		<h2>Mappar</h2>
		<h3 class="doc-folder chosen"><i class="fa-solid fa-folder"></i>Manualer</h3>
			<h3 class="doc-folder"><i class="fa-solid fa-folder"></i>Rutiner</h3>
			<h3 class="doc-folder"><i class="fa-solid fa-folder"></i>Besiktningsprotokoll</h3>
			<h3 class="doc-folder"><i class="fa-solid fa-folder"></i>Övrigt</h3>
	</div>
	<div id="document-displayer">
		<h2>Dokument</h2>
		<div>
			<h3>Manualer</h3>
			<ul>
				<li class="file-li"><i class="fa-solid fa-file-pdf"></i>Rullstol Cross 6</li>
				<li class="file-li"><i class="fa-solid fa-file-pdf"></i>Lyftsele Liko</li>
				<li class="file-li"><i class="fa-solid fa-file-pdf"></i>Mobil golvlyft Uno</li>
				<li class="file-li"><i class="fa-solid fa-file-pdf"></i>Lyftsele Guldmann</li>
				<li class="file-li"><i class="fa-solid fa-file-pdf"></i>Komfortrullstol Azalea</li>
				<li class="file-li"><i class="fa-solid fa-file-pdf"></i>Dyna ROHO</li>
				<li class="file-li"><i class="fa-solid fa-file-pdf"></i>Mobil hygienstol Swift</li>
			</ul>
		</div>
	</div>
</div>