	<div class="document-nav">
		<ul>
			<li class="small-li"><i class="fa-solid fa-folder"></i>Manualer</li>
			<li class="small-li"><i class="fa-solid fa-folder"></i>Rutiner</li>
			<li class="small-li"><i class="fa-solid fa-folder"></i>Besiktningsprotokoll</li>
			<li class="small-li"><i class="fa-solid fa-folder"></i>Övrigt</li>
			<li class="small-li"><i class="fa-solid fa-gear"></i>Hantera mappar</li>
		</ul>
	</div>
<div id="document-container">
	<div id="document-aside">
		<h3>Manualer</h3>
			<ul>
						<li class="small-li"><i class="fa-solid fa-file-pdf"></i>Rullstol Cross 6</li>
						<li class="small-li"><i class="fa-solid fa-file-pdf"></i>Lyftsele Liko</li>
						<li class="small-li"><i class="fa-solid fa-file-pdf"></i>Mobil golvlyft Uno</li>
						<li class="small-li"><i class="fa-solid fa-file-pdf"></i>Lyftsele Guldmann</li>
						<li class="small-li"><i class="fa-solid fa-file-pdf"></i>Komfortrullstol Azalea</li>
				<li class="small-li"><i class="fa-solid fa-file-pdf"></i>Dyna ROHO</li>
				<li class="small-li"><i class="fa-solid fa-file-pdf"></i>Mobil hygienstol Swift</li>
			</ul>
		<button>Hantera filer</button>
	</div>
	<div id="document-displayer">
		<h3>Rullstol Cross 6</h3>
		<div class="document-show">
			<img src="~/css/Manual.jpg" alt="Manual"/>
		</div>
	</div>
</div>