body {
    margin-bottom: 60px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-style {
    background-color: #1c0f4b;
    width: 100px;
    height: 35px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-style:hover {
    opacity: 0.8;
}

/*INDEX / LOG IN*/
.index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #c1dfec;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.index-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.index-login {
    margin-left: 30px;
    flex: 2;
}

.index-text {
    flex: 3;
}

.index-divider {
    margin: 0 7px;
    border-right: 2px solid #808080;
    height: 250px;
    align-self: center;
}

label, input {
    display: block;
    border-radius: 5px;
    height: 20px;
}

/*NAV*/
nav {
    background-color: #a2cfe3;
    color: #000000;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-bottom: 40px;
    font-size: 16px;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 15px;
    font-size: 18px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-right: 30px;
    list-style-type: none;
}

.nav-brand img {
    height: 35px; 
    width: auto; 
    margin-right: 18px;
}

.hamburger-menu {
    display: none;
}

#hamburger-menu-content {
    display: none;
}

/*FOOTER*/
footer {
    background-color: #a2cfe3;
    color: #000000;
    padding: 20px;
    margin-top: 40px;
}

footer a, nav a, nav li {
    text-decoration: none;
    color: black;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

footer a:hover, nav a:hover {
    color: white;
}

.footer-divider {
    margin: 0 7px;
    border-right: 2px solid #000000;
    height: 20px;
}



@media only screen and (max-width: 768px) {

    .hamburger-menu {
        display: block;
        margin-right: 15px;
        font-size: 22px;
        color: #000000;
        align-content: center;
    }

    #hamburger-menu-content {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        background-color: #0d0949;
    }

    #hamburger-menu-content li {
        color: #ffffff;
        text-decoration: none;
        margin: 8px;
    }

    #hamburger-menu-content a {
        color: #ffffff;
        text-decoration: none;
    }

    .index-container {
        width: 90%;
    }

    .index-text, .index-divider {
        display: none;
    }
    

    nav {
        padding: 10px;
    }

    .nav-brand {
        margin-left: 0;
    }

    .nav-brand img {
        height: 25px;
        width: auto;
        margin-right: 8px;
    }

    .nav-list {
        display: none;
    }
}

