html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    max-width: 100%;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*NAV*/
nav {
    background-color: #eaebed;
    color: #000000;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 16px;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 15px;
    font-size: 18px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-right: 30px;
    list-style-type: none;
}

.nav-brand img {
    height: 35px; 
    width: auto; 
    margin-right: 18px;
}

.hamburger-menu {
    display: none;
}

#hamburger-menu-content {
    display: none;
}

/*FOOTER*/
footer {
    background-color: #eaebed;
    color: #000000;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer a, nav a, nav li {
    text-decoration: none;
    color: black;
    margin-left: 4px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

footer a:hover, nav a:hover, .small-nav a:hover, .small-li:hover {
    color: #e1dcdc;
    cursor: pointer;
}

/*AIDS BY UNIT*/
.small-nav {
    margin-bottom: 20px;
    background-color: #454a4f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 5px;
}

.small-nav li {
    list-style-type: none;
    color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
}

#aids-by-unit {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 80px;
    width: 100%;
}

#aids-by-unit label {
    margin-left: 10px;
}

#aids-overview {
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
    margin-left: 25px;
}

.fa-check, .fa-xmark {
    margin-right: 8px;
}

.fa-exclamation {
    margin-right: 14px;
}

.inspection-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview-content {
    padding-left: 10px;
    padding-right: 10px;
}

/*
.noteboard {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #454a4f;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}*/

.noteboard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.noteboard-buttons button, .note-pop-up button {
    width: 48%;
    height: 30px;
    border: 1px solid #ffffff;
}

.note-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    text-align: left;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #454a4fa6;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
}

.note {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
}

.all-note {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 5px;
}

.note-container button {
    width: 30px;
    height: 30px;
    margin: 10px;
    font-size: 16px;
}

.long-message {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.note-container button {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.note-container button:hover {
    color: rgba(255, 0, 0, 0.5) !important;
}

#unit-aside {
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #eaebed;
    border-radius: 10px;
    width: 240px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-style {
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.table-style th, .table-style td {
    border: 1px solid #b5bcbd;
    padding: 7px;
    text-align: left;
}

.table-style th {
    background-color: #454a4f;
    color: #ffffff;
    padding: 8px;
    cursor: pointer;
}

.aid-row:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.red-background {
    background-color: rgba(255, 0, 0, 0.5);
}

.green-background {
    background-color: rgba(144, 238, 144, 0.7);
}

.yellow-background {
    background-color:rgba(255, 255, 0, 0.5) ;
}

.default-background {
    background-color: #f2f2f2;
}

.s-column {
    width: 10%;
}

.m-column {
    width: 14%;
}

.l-column {
    width: 18%;
}

#mobile-buttons {
    display: none;
}

.filter-selections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-selections label {
    font-weight: bold;
}

button {
    background-color: #454a4f;
    color: #ffffff;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    width: 165px;
    height: 33px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

#update-aid-popup, #unit-popup, #add-aid-feedback, #add-aid-popup, 
#new-category-popup, #confirm-popup, #qr-missing-popup, #qr-popup, #add-note-popup,
#show-all-notes {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.pop-up {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 350px;
    background-color: #eaebed;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.l-pop-up {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 450px;
    background-color: #eaebed;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-aid-row, .update-aid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.add-form {
   display: flex;
   flex-direction: column;
   margin: 15px;
}

.disabled-input {
    background-color: #f0f0f0;
    color: #2a2828;
}

input, .add-form select, #select-unit-list option {
   padding: 5px;
}

.add-form label {
    margin-bottom: 5px;
    margin-top: 5px;
}

#select-unit-list {
    width: 100%;
}

.popup-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.popup-buttons button {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

/*QR SCAN*/
#my-qr-reader {
    padding: 20px !important;
    border: 1.5px solid #b2b2b2 !important;
    border-radius: 8px;
    color: #ffffff;
    background-color: #64696e;
}

#qr-headline {
    font-size: 18px;
    margin: 10px;
    align-self: center;
}

#my-qr-reader img[alt="Info icon"] {
    display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}

#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
    color: #1d9bf0;
}

video {
    width: 100% !important;
    border: 1px solid #b2b2b2 !important;
    border-radius: 0.25em;
}

/*ABOUT*/
#about {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #eaebed;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}

#about b {
    margin-bottom: 10px;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {

    body {
        font-size: 16px;
    }

    .hamburger-menu {
        display: block;
        margin-right: 15px;
        font-size: 22px;
        color: #000000;
        align-content: center;
    }

    #hamburger-menu-content {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        background-color: #454a4f;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        z-index: 1;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #hamburger-menu-content li {
        color: #ffffff;
        text-decoration: none;
        margin: 8px;
    }

    #hamburger-menu-content a {
        display: block;
        color: #ffffff;
        text-decoration: none;
    }

    nav {
        padding: 10px;
        margin-bottom: 0px;
    }

    .nav-brand {
        margin-left: 0;
    }

    .nav-brand img {
        height: 25px;
        width: auto;
        margin-right: 8px;
    }

    .nav-list, .small-nav, .headline, #unit-aside, .unit-noteboard {
        display: none;
    }

    #aids-by-unit {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #about {
        max-width: 80%;
        margin-top: 20px;
    }

    .table-style th:nth-child(1),
    .table-style td:nth-child(1),
    .table-style th:nth-child(4),
    .table-style td:nth-child(4),
    .table-style th:nth-child(5),
    .table-style td:nth-child(5),
    .table-style th:nth-child(6),
    .table-style td:nth-child(6),
    .table-style th:nth-child(7),
    .table-style td:nth-child(7) {
        display: none;
    }

    .selection {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .selection select {
        padding: 5px;
        margin: 10px;
    }

    .filter-selections {
        flex-direction: column;
    }

    .table-style {
        font-size: 16px;
    }

    #aids-overview {
        width: 90%;
        margin: 0;
    }

    .m-column {
        width: 50%;
    }

    #mobile-buttons {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

    .l-pop-up {
        width: 80%;
    }

    .add-aid-row, .update-aid-row {
        flex-direction: column;
        margin: 0;
    }

    .add-form input, .add-form select, #new-category-popup input {
        padding: 8px;
        font-size: 16px;
    }

    .unit-selection {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
        background-color: #ffffff;
    }

    .unit-selection h3 {
        font-size: 18px;
    }

    .pop-up {
        width: 80%;
    }

    .divider {
        width: 100%;
        border-top: 2px solid #454a4f;
        margin-top: 40px;
    }

    #select-unit-list option {
        font-size: 18px;
        padding: 10px;
    }

    button {
        width: 100%;
        height: 45px;
        font-size: 16px;
        margin-top: 20px;
    }

    .popup-buttons {
        flex-direction: column;
    }

    footer {
        position: relative;
        margin-top: 40px;
    }
}
