@{
    ViewData["Title"] = "Om oss";
}

<div id="about">
	<b>Om oss</b>
	<p>
		Hjälpmedelskollen är en webbapplikation som underlättar hantering och inventering av hjälpmedel inom vården. 
		<br/> <br/>
		Applikationen är utvecklad av Nicolina Smith som studerar Informatik med inriktning systemutveckling på Mittuniversitetet. Med sin bakgrund som arbetsterapeut inom hälso- och sjukvården så inspirerades hon till att utveckla ett effektivt verktyg som en del av sitt examensarbete.
		</p>
	<img src="~/css/Logotype.jpg" alt="Logotyp"/>
</div>