@{
    ViewData["Title"] = "Om oss";
}

<div id="about">
	<b>Om oss</b>
	<p>
		Hjälpmedelskollen är en webbapplikation som underlättar hantering och inventering av hjälpmedel inom vården. 
		
		Applikationen är utvecklad av Nicolina Smith som är student vid Mittuniversitetet, där hon läser Informatik med inriktning mot systemutveckling.
		Med en bakgrund som arbetsterapeut inom hälso- och sjukvården så inspirerades hon av att utveckla ett effektivt verktyg som en del av sitt examensarbete.
	</p>
	<img src="~/css/logo.jpeg" alt="Logotyp"/>
</div>